.name {
    font-size: 45px !important;
    text-align: center;
    font-family: 'Roboto';
    color: #797979;
    font-weight: bold;
      -webkit-print-color-adjust: exact !important;

}

.column {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Roboto';
    color: #797979;
    margin:0px;
    font-size: 12px;
      -webkit-print-color-adjust: exact !important;

}

.column_2 {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Roboto';
    color: #797979;
    border-left: 1px solid #797979;
    margin:0px;
    font-size: 12px;
      -webkit-print-color-adjust: exact !important;


}
.row {
    display: flex;
      -webkit-print-color-adjust: exact !important;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto';
    color: #797979;
    font-weight: bold;
      -webkit-print-color-adjust: exact !important;

}
.experience {
    font-family: 'Roboto';
    color: #797979;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 300;
      -webkit-print-color-adjust: exact !important;

}
.sub-experience {
    font-family: 'Roboto';
    color: #797979;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
      -webkit-print-color-adjust: exact !important;

}
p {
    font-family: 'Roboto';
    color: #797979;
    font-size:14px;
    font-weight:300;
    -webkit-print-color-adjust: exact !important;

}

ul,li {
    font-family: 'Roboto';
    color: #797979;
    font-size:12px;
    font-weight:300;
    margin-left: 20px;

    -webkit-print-color-adjust: exact !important;

}
